.todo-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    background-color: rgb(247, 247, 219);
    width: 509px;
    padding-top: 20px;
    padding-bottom: 20px;
}

